@import "_variables.scss";

html, .uk-background-cover {
    background-image: linear-gradient(to right, $color-background1, $color-background2);
    background: linear-gradient(90deg, $color-background1 0%, $color-background2 35%, $color-background2 70%, $color-background1 100%);
    
    background-size: cover;
    height: 100%;
    }

.uk-flex{
    padding: 2.5%;
}