@import "_variables.scss";

#chart-container {
    display: flex;
    width: 100%;
}

#pie-graph, #bar-graph {
    flex: 1;
    #piechart {
        height: 350px;
    }
}

.small-card {
    height: 220px;
}

.uk-card-header {
    padding: 10px 15px;
}
.icon {
    height: 35px;
    width: auto;
    padding-right: 10px;
}

.state-card {
    flex-basis: 22%;
    .state-line {
    text-align: left;
    font-size: 14pt;
    white-space: nowrap;
    line-height: 20pt;
        img {
            height: 25px;
            width: auto;
            margin: 2.5% 10%;
        }
    }
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.8s ease forwards;
  }
  .come-in:nth-child(odd) {
    animation-duration: 0.6s;
  }
  
  @keyframes come-in {
    to { transform: translateY(0); }
  }

.pink {
    color: $color-emph4;
}

.green {
    color: $color-emph5;
}

.blue {
    color: $color-emph1;
}

.white {
    color: white;
}