/*Breakpoints*/
$breakpoint-phone-max: 599px;
$breakpoint-tablet-min: 600px;
$breakpoint-tablet-max: 900px;
$breakpoint-desktop-min: 901px;

/*Fonts*/
$font-title: 'Kanit', sans-serif;
$font-body: 'Roboto', sans-serif;

/*Colors*/
$color-background1: rgba(23,37,89,1);
$color-background2: rgba(38,61,112,1);
$color-background-component1: #0C174B;
$color-background-component2: #1c1c60;
$color-emph1: #4088c9;
$color-emph2: #FCFEFF;
$color-emph3: rgba(64, 137, 201, 0.1);
$color-emph4: #EE40A8;
$color-emph5: #52F141;